ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  background-color: #131313;
  width: 100vw;
  min-height: 100%;
  color: white;
}

.load-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.load-btn {
  height: 60px;
  border-radius: 30px;
  padding: 0 30px;
  background-color: #131313;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: solid white;
}

.dismiss-btn {
  position: fixed;
  bottom: 28px;
  right: 23px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 0 20px 0 20px;
  background-color: #13131399;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: solid white;
  font-size: 26px;
}

.share-btn {
  position: fixed;
  bottom: 108px;
  right: 23px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 0 20px 0 20px;
  background-color: #13131399;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: solid white;
  font-size: 26px;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
