/* Question Display */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  background-color: #131313;
  width: 100vw;
  min-height: 100%;
  color: white;
}

/* Button Positions */

.btn-margin{
  margin-bottom: 28px;
}

.dismiss-position {
  position: fixed;
  bottom: 28px;
  right: 23px;
}

.share-position {
  position: fixed;
  bottom: 108px;
  right: 23px;
}
