.loading-container {
  background-color: #131313;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
